/* s : color */
/* Grayscale */
$colorWhite: #FFF;
$colorBlack: #000;
$colorDarkGray: #323232;
$colorGray: #666;
$colorLightGray: #ACACAC;

/* Green */
$colorGreen: #38A574;
$colorLightGreen: #B6E7D2;

/* Yellow */
$colorYellow: #FBFFCA;

/* background */
$colorLightBg: #F0EFE9;

/* tline */
$colorTopLine: #B0B0B0;

/* e : color */


/* fonts */
$fontDefault: "Inter", sans-serif !important;
$fontTitleDefault: "PT Serif", serif !important;

/* size */
$journeySvgHeightPc: 4593px;
$journeySvgHeightMo: 3696px;

/* 김재성 : 최종 산출물은 "" 으로 수정필요함 */
$basePath: "/skt";

